@using Iauq.Web.Mvc.UI
@model Iauq.Information.Areas.Administration.Models.Administration.ChangePasswordModel
@{
    Layout = "~/Views/Shared/_NarrowLayout.cshtml";
    ViewBag.Title = "تغییر گذرواژه";
    PagePartManager.Current.AddBreadcrumb(Html.ActionLink("تغییر گذرواژه", "ChangePassword", "Administration"));
}
<div class="rounded-box newest narrow">
    <div class="inside">
        <h1>
            @ViewBag.Title
        </h1>
        <hr />
        @using (Html.BeginForm("ChangePassword", "Administration", FormMethod.Post, new {@class = "form-horizontal"}))
        {
            @Html.ValidationSummary(true)

            @Html.AntiForgeryToken()
            <input type="hidden" id="SecurityToken" name="SecurityToken" value="@Model.SecurityToken" />
            <fieldset>
                <div class="control-group">
                    @Html.LabelFor(cp => cp.OldPassword, new {@class = "control-label"})
                    <div class="controls">
                        @Html.PasswordFor(u => u.OldPassword, new {@class = "input-xlarge align-left"})
                        @Html.ValidationMessageFor(u => u.OldPassword, null, new {@class = "help-inline"})
                    </div>
                </div>
                <div class="control-group">
                    @Html.LabelFor(cp => cp.NewPassword, new {@class = "control-label"})
                    <div class="controls">
                        @Html.PasswordFor(u => u.NewPassword, new {@class = "input-xlarge align-left"})
                        @Html.ValidationMessageFor(u => u.NewPassword, null, new {@class = "help-inline"})
                    </div>
                </div>
                <div class="control-group">
                    @Html.LabelFor(cp => cp.NewPasswordConfirmation, new {@class = "control-label"})
                    <div class="controls">
                        @Html.PasswordFor(u => u.NewPasswordConfirmation, new {@class = "input-xlarge align-left"})
                        @Html.ValidationMessageFor(u => u.NewPasswordConfirmation, null, new {@class = "help-inline"})
                    </div>
                </div>
                <div class="control-group">
                    @Html.Label("وضعیت قفل", new {@class = "control-label"})
                    <div class="controls">
                        <div id="lockStatus" class="pull-right"></div>
                    </div>
                </div>
                <div class="clearfix">
                </div>
                <div class="form-actions">
                    <button type="submit" id="process" class="btn btn-success">
                        تغییر گذرواژه</button>
                    @Html.ActionLink("برگشت به پنل مدیریت", "Default", "Administration", null, new {@class = "btn"})
                </div>
            </fieldset>
        }
    </div>
</div>
@section Scripts
{
    <script type="text/javascript">
        $(document).ready(function() {
            checkLock();
        });
    </script>
}