@using Iauq.Core.Domain
@using Iauq.Core.Extensions
@using Iauq.Information.App_GlobalResources
@using Iauq.Information.Helpers
@using MvcContrib.Pagination
@using Iauq.Web.Mvc.UI
@model IEnumerable<Iauq.Core.Domain.Role>
@{
    ViewBag.Title = "پنل مدیریت - نقش‌ها";
    PagePartManager.Current.AddBreadcrumb(Html.ActionLink("پنل مدیریت", "Default", "Administration"));
    PagePartManager.Current.AddBreadcrumb(Html.ActionLink("نقش‌ها", "List", "Roles", new { page = 1 }, null));
}
<div class="rounded-box newest row-fluid">
    <div class="inside">
        <h1>@ViewBag.Title
            <div class="btn-group pull-left">
                @Html.ActionLink("ثبت نقش جدید", "Create", null, new { @class = "btn btn-success" })
            </div>
        </h1>
        <hr />
        @{
            var error = TempData["Error"] as string;

            bool hasError = error != null;
        }
        @if (hasError)
        {
            <div class="validation-summary-errors">
                <ul>
                    <li>@error</li>
                </ul>
            </div>
        }
        @if (!Model.Any())
        {
            <p class="center">@ValidationResources.NoRecords</p>
        }
        else
        {
            <table class="table table-striped">
                <tr>
                    <th>
                        @Html.DisplayNameFor(r => r.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(r => r.CategoryId)
                    </th>
                    <th>
                        عملیات
                    </th>
                </tr>
                @foreach (Role role in Model)
                {
                    <tr>       
                        <td>
                            @role.Name.EnsureLength(40)
                        </td>
                        <td>
                            @if (role.Category != null)
                            {
                                @Html.ActionLink(role.Category.Title.EnsureLength(20), "Edit", "Categories", new { role.Category.Id }, null)
                            }
                            else
                            {
                                <text>ندارد</text>
                            }
                        </td>
                        <td class="btn-group">
                            @Html.ActionLink("ویرایش", "Edit", new { role.Id }, new { @class = "btn" })
                            @Html.ActionLink("حذف", "Delete", new RouteValueDictionary(new { role.Id }), new Dictionary<string, object> { { "class", "btn btn-danger" }, { "data-toggle", "modal" }, { "data-target", "#delete-modal" }, { "data-delete-handle", "true" } })
                        </td>
                    </tr>
                }
            </table>
            @Html.Partial("_DeleteConfirmationModal")
            @Html.RenderPager(Model as IPagination, page => Url.Action("List", new { page }))
        }
        <div class="clearfix">
        </div>
        <div class="box-footer single">
            @Html.ActionLink("برگشت به پنل مدیریت", "Default", "Administration", null, new { @class = "btn" })
        </div>
    </div>
</div>
