@using Iauq.Core.Extensions
@using Iauq.Web.Mvc.UI
@model Iauq.Core.Domain.Log

@{
    ViewBag.Title = string.Format("پنل مدیریت - سوابق - جزئیات لاگ: {0}", Model.Id);
    PagePartManager.Current.AddBreadcrumb(Html.ActionLink("پنل مدیریت", "Default", "Administration"));
    PagePartManager.Current.AddBreadcrumb(Html.ActionLink("سوابق", "List", "Logs", new {page = 1}, null));
    PagePartManager.Current.AddBreadcrumb(Html.ActionLink(string.Format("جزئیات لاگ: {0}", Model.Id), "Display", "Logs", new {Model.Id}));
}

<div class="rounded-box newest row-fluid">
    <div class="inside">
        <h1>@ViewBag.Title
            <div class="btn-group pull-left">
                @Html.ActionLink("برگشت", "List", new {page = 1}, new {@class = "btn btn-success"})
            </div>
        </h1>
        <hr />
        <table>
            <tr>
                <td style="min-width:100px">@Html.DisplayNameFor(l => l.LogDate)</td>
                <td>@Model.LogDate.ToPersianDate()</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(l => l.Message)</td>
                <td class="align-left code">@Model.Message</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(l => l.ExceptionType)</td>
                <td class="align-left code">@Model.ExceptionType</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(l => l.RequestUrl)</td>
                <td class="align-left code">@Model.RequestUrl</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(l => l.ReferUrl)</td>
                <td class="align-left code">@Model.ReferUrl</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(l => l.IpAddress)</td>
                <td class="align-left code">@Model.IpAddress</td>
            </tr>
            <tr class="stack">
                <td>@Html.DisplayNameFor(l => l.Stack)</td>
                <td class="align-left code stack-content">@Html.Raw(Model.Stack)</td>
            </tr>
        </table>
    </div>
</div>